<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Display Webcam Stream</title>
 
<style>
#container {
	margin: 0px auto;
	width: 500px;
	height: 375px;
	border: 10px #333 solid;
}
#videoElement {
	width: 500px;
	height: 375px;
	background-color: #666;
}
</style>
</head>
 
<body>
<div id="container">
	<video autoplay="true" id="videoElement">
	
	</video>
</div>
<script>

//Test browser support
const SUPPORTS_MEDIA_DEVICES = 'mediaDevices' in navigator;
var video = document.querySelector("#videoElement");
if (SUPPORTS_MEDIA_DEVICES) {
  //Get the environment camera (usually the second one)
  navigator.mediaDevices.enumerateDevices().then(devices => {
  
    const cameras = devices.filter((device) => device.kind === 'videoinput');

    if (cameras.length === 0) {
      throw 'No camera found on this device.';
    }
    const camera = cameras[cameras.length - 1];

    // Create stream and get video track
    navigator.mediaDevices.getUserMedia({
      video: {
        deviceId: camera.deviceId,
        facingMode: ['user', 'environment'],
        height: {ideal: 500},
        width: {ideal: 375}
      }
    }).then(stream => {
      const track = stream.getVideoTracks()[0];
      video.srcObject = stream;
      var torchOn = false;

      //Create image capture object and get camera capabilities
      const imageCapture = new ImageCapture(track)
      const photoCapabilities = imageCapture.getPhotoCapabilities().then(() => {

        //todo: check if camera has a torch

        //let there be light!
        const btn = document.querySelector('.switch');
        btn.addEventListener('click', function(){
            torchOn = !torchOn;
          track.applyConstraints({
            advanced: [{torch: torchOn}]
          });
        });
      });
    });
  });
  
  //The light will be on as long the track exists
  
  
}
</script>

<button class="switch">On / Off</button>

</body>
</html>